* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner { 
    height: 100vh;
    width: 317px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    position: fixed;
}
.side-bar {
    height: 100%;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navigation {
    padding: 12px 0;
}
.side-bar .logo img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    width: 30px; 
    cursor: pointer;  
    position: relative;
    /* aligning the logo image with the nav-items */
    right: 70px;  
}
.side-bar img:hover {
    background: rgb(195, 201, 201);
    border-radius: 9999px;
}

.navigation svg {
    height: 26px;
    width: 26px;
}
.nav-items { 
    padding: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
} 
.nav-items:hover {
    background: rgb(195, 201, 201);
    border-radius: 9999px;
}

.nav-items p { 
    margin: 0 16px 0 20px;
    font-size: 20px;
    font-weight: 500;
} 
.post-button {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(255 255 255);
    background: #1d9bf0;
    height: 52px;
    width: 218px;
    border: 1px;
    padding: 0 32px;
    border-radius: 9999px;
}


.tweet {
    margin: 4px 0;
}
.account {
    margin: 12px 0;
}
.profile-button {
    height: 65px;
    width: 242px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 1px;  
    background: transparent;
}
.profile-button:hover {
    background: rgb(195, 201, 201);
}
.profile-button .profile-circle img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.dot-bar {
    height: 18px;
    width: 18px;
    position: relative;
    left: 45px;
    bottom: 18px;
}
.account-details {
    margin: 0 12px;
    position: relative;
    right: 40px;
    top: 10px;
}
.account-details h6 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.account-details p {
    margin: 0;
} 

